* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #cde8cb;
  
}

.container {
    font-weight: bolder;
    width: 30%;
    min-width: 350px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px 0;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
}

.timer-display {
    position: relative;
    width: 92%;
    /* background: #fff; */
    color: #010d08;
    font-size: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

.buttons {
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.buttons button {
    width: 120px;
    height: 45px;
    background-color: #ff52b1;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.buttons button:nth-last-child(2) {
    background-color: #f19e75;
}

.buttons button:nth-last-child(1) {
    background-color: #f7df1e;
}

